.infoSection {
    max-width: 100%;
    margin: auto;
    background-color: rgb(255, 250, 240);
    border: 1px solid hsl(240, 100%, 25%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 20%);
    padding: 10px;
}

@media (max-width: 660px) {
    .infoSection {
        box-shadow: 2px 2px 2px hsl(0, 0%, 20%);
    }
}

.infoSection__unorderedList {
    list-style: none;
    padding: 2px;
}

.infoSection__listItem {
    padding: 8px 2px;
}

.infoSection__requiredColor {
    display: inline-block;
    width: 100px;
    background-color: rgb(255, 250, 200);
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-bottom: -5px;
}

.infoSection__invalidColor {
    display: inline-block;
    width: 100px;
    background-color: rgb(255, 160, 160);
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-bottom: -5px;
}