html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    background-image: url("%PUBLIC_URL%/background.jpg");
    background-size: cover;
    background-position: center;
}

/* .mainContainer {
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 10px;
} */