.timer {
    display: block;
    font-family: "Share Tech Mono", monospace;
    font-size: 14px;
    text-align: right;
    padding: 8px 2px;
}

@media (max-width: 440px) {
    .timer {
        font-size: 12;
    }
}