.form {
    max-width: 100%;
    margin: auto;
}

.form__label {
    margin: 10px;
}

@media (max-width: 660px) {
    .form__label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__labelText {
    max-width: 260px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 660px) {
    .form__labelText {
        max-width: fit-content;
    }
}

.form__numberField {
    max-width: 160px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 5px;
    padding: 6px;
    margin: 0px 10px;
}

.form__numberField:invalid {
    background-color: rgb(255, 160, 160);
}

.form__numberField:required {
    background-color: rgb(255, 250, 200);
}

.form__button {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 25%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 20%);
}

.form__button:hover {
    font-weight: bold;
    background-color: hsl(240, 100%, 35%);
}

.form__button:active {
    font-weight: bold;
    background-color: hsl(240, 100%, 45%);
}

.form__fieldset {
    border: 1px solid hsl(240, 100%, 25%);
    background-color: rgb(255, 250, 240);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 20%);
    padding: 10px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 660px) {
    .form__fieldset {
        box-shadow: 2px 2px 2px hsl(0, 0%, 20%);
    }
}

.form__legend {
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 25%);
    padding: 10px;
}

.form__selectField {
    max-width: 160px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 5px;
    padding: 3px;
    margin: 0px 10px;
}

.form__selectField:required {
    background-color: rgb(255, 250, 200);
}

.form__selectField--error.form__selectField--error {
    background-color: rgb(255, 160, 160);
}