.resultSection {
    max-width: 100%;
    margin: 20px auto;
    background-color: rgb(255, 250, 240);
    border: 1px solid hsl(240, 100%, 25%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 20%);
    padding: 10px;
}

@media (max-width: 660px) {
    .resultSection {
        box-shadow: 2px 2px 2px hsl(0, 0%, 20%);
    }
}

.resultSection__header {
    margin: 5px;
    text-align: center;
}

.resultSection__resultBox {
    text-align: center;
}

@media (max-width: 660px) {
    .resultSection__resultBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.resultSection__resultText {
    font-size: 24px;
    font-weight: bold;
    color: hsl(240, 100%, 25%);
    transition: color 0.2s linear;
}

.resultSection__resultText--highlighted {
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 100%, 60%);
}